@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gravitas+One&display=swap&family=Indie+Flower&display=swap&Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.base {
  padding: 1.5% 20%;
}

.projects {
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.header {
  display: flex;
  align-items: center;
  height: 150px;
}

#inner_header {
  display: flex;
  justify-content: space-between;
  align-items:last baseline;
  width: 100%;
  height: fit-content;
}

.header_name {
  display: flex;
  flex-direction: column;
}

#name_cont {
  display: flex;
  align-items: center;
  gap: 20px;
  height: fit-content;
}

h1 {
  font-size: 2em;
  /* font-family: "Indie Flower", cursive; */
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: var(--color-header);
  margin: 0;
  padding: 0;
}

.h1_bold {
  font-weight: 900;
}

hr {
  background-color: #D6D6D6;
  border: none;
  height: 1px;
  background-color: var(--color-hr);
}

.icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

h3 {
  font-size: 1em;
  /* font-family: "Indie Flower", cursive; */
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: var(--color-header);
}

.a_icon {
  text-decoration: none;
}

.a_icon:hover {
  cursor: pointer;
}

.darkIconCont img {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .projects {
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
  }

  .base {
    padding: 3% 5%;
    padding-bottom: 15%;
  }

  h1 {
    font-size: 1.2em;
  }
}