@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gravitas+One&display=swap&family=Indie+Flower&display=swap');

.base {
  padding: 1.5% 20%;
}

.projects {
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  /* margin-bottom: 20px; */
  /* background-color: lightblue; */
}

h1 {
  font-size: 2.5em;
  /* font-family: 'Gravitas One', cursive; */
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  color: var(--color-header);
}

hr {
  background-color: #D6D6D6;
  border: none;
  height: 1px;
  background-color: var(--color-hr);
}

.icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  gap: 30px;
  /* background-color: pink; */
}

.icon {
  /* background-color: lightblue; */
}

h3 {
  color: black;
  font-size: 1.1em;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  color: var(--color-header);
}

.a_icon {
  text-decoration: none;
  /* background-color: beige; */
}

.a_icon:hover {
  cursor: pointer;
}

/* .cv {
  margin-top: 7px;
  scale: 0.82;
} */

/* .iconGroup {
  display: flex;
} */

/* .iconGroup a {
  height: 25px;
} */

/* .darkIconCont {
  height: 25px;
  display: flex;
} */

.darkIconCont img {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .projects {
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
  }

  .base {
    padding: 3% 5%;
    padding-bottom: 15%;
  }

  h1 {
    font-size: 3em;
  }
}