@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gravitas+One&display=swap');

.base {
  padding: 1.5% 20%;
}

.projects {
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

h1 {
  font-size: 4em;
  font-family: 'Gravitas One', cursive;
}

hr {
  background-color: #D6D6D6;
  border: none;
  height: 1px;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.icon {
  scale: 0.85;
}

.cv {
  margin-top: 7px;
  scale: 0.82;
}

.iconGroup {
  display: flex;
}

.iconGroup a {
  height: 25px;
}

.darkIconCont {
  height: 25px;
  display: flex;
}

.darkIconCont img {
  cursor: pointer;
}

footer {
  height: 100px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .projects {
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
  }

  .base {
    padding: 3% 5%;
    padding-bottom: 15%;
  }

  h1 {
    font-size: 3em;
  }
}