
.container {
    padding: 3% 20%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.projTitle {
    text-align: center;
}

.projectTitle {
    font-size: 2.5em;
}

.desciption {
    font-size: 0.9em;
    line-height: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icons img:hover {
    cursor: pointer;
}

.i {
    height: 25px;
}

.imgContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.imgContainer > img {
    box-shadow: 2px 4px 10px rgb(0 0 0 / 0.2);
    object-fit: cover;
}

.mobile {
    height: 400px;
    width: 190px;
}

.desktop {
    height: 280px;
    width: 400px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        padding: 3% 5%;
    }

    .projectTitle {
        font-size: 1.5em;
    }

    .desktop {
        height: 220px;
        width: 300px;
    }

    .mobile {
        height: 300px;
        width: 140px;
    }
  }