
.container {
    padding: 1.5% 20%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.projTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    gap: 15px;
}

.githubArrowCont {
    display: flex;
}

.projectTitle {
    font-size: 2.5em;
}

.i {
    scale: 0.85;
}

.desciption {
    font-size: 0.9em;
    line-height: 20px;
    width: 50%;
}

.cwContainer {
    width: 100%;
    height: fit-content;
    box-shadow: inset 2px 4px 10px rgb(0 0 0 / 0.2);
    padding: 15px 23px;
}

.cwOuterContainer {
    width: 37%;
}

.cwOuterContainer > p {
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    margin: 0;
}

.infoContainer {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.imgContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.imgContainer > img {
    box-shadow: 2px 4px 10px rgb(0 0 0 / 0.2);
    object-fit: cover;
}

.mobile {
    height: 400px;
    width: 190px;
}

.desktop {
    height: 280px;
    width: 400px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        padding: 3% 5%;
        padding-bottom: 15%;
    }

    .projectTitle {
        font-size: 1.5em;
    }

    .desktop {
        height: 220px;
        width: 300px;
    }

    .mobile {
        height: 300px;
        width: 140px;
    }

    .infoContainer {
        flex-direction: column;
    }

    .desciption {
        font-size: 0.8em;
        line-height: 20px;
        width: 100%;
    }

    .cwContainer {
        padding: 10px 15px;
    }

    .cwOuterContainer {
        width: 93%;
    }
  }