.cardCont {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
}

.container {
    margin: 3% 20%;
    display: flex;
    flex-direction: column;
}

.projTitle {
    text-align: center;
}

.projectTitle {
    font-size: 2.5em;
}

.desciption {
    margin-bottom: 30px;
    font-size: 0.9em;
    line-height: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icons img:hover {
    cursor: pointer;
}

.i {
    height: 25px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .container {
        margin: 3% 5%;
    }
  }

/* .noScroll {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
} */