.cardImage {
  width: 180px;
  height: 300px;
  object-fit: cover;
  box-shadow: 2px 4px 10px rgb(0 0 0 / 0.2);
}

h2 {
  font-size: 0.6rem;
  color: var(--color-text);
}

@media only screen and (max-width: 768px) {
  .cardImage {
    width: 150px;
    height: 240px;
  }
}