.cardImage {
  width: 130px;
  height: 230px;
  object-fit: cover;
}

h2 {
  font-size: 0.6rem;
  color: black;
}

.cardImgCont {
  width: 180px;
  height: 280px;
  /* background-color: aqua; */
  box-shadow: 2px 4px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}