@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0;
  padding: 0;
}