@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
body::-webkit-scrollbar { /*  Chrome, Safari and Opera */
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}