@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

::-webkit-scrollbar {
  display: none;
}

body {
  /* define variables */
  --color-background: #f4f4f4; /* FDF5EC F3F6F5 F1F3F9 */
  --color-text: #353e5b;


  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  body {
  --color-background: #353e5b;
  --color-text: #f4f4f4;
  }
}