
.filter-container {
    margin-bottom: 20px;
}

button {
    margin-right: 2rem;
    border: none;
    color: #A3A3A3;
    background: none;
    font-size: medium;
    cursor: pointer;
    padding: 5px;
}

button.active {
    color: rgb(28, 28, 28);
}