
button {
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: rgb(153, 153, 153);
    background: none;
    font-size: medium;
    cursor: pointer;
}

button.active {
    color: rgb(43, 43, 220);
}